body {
  text-align: center;
}

#logo {
  width: 165px;
  height: 58px;
  margin-top: 80px;
}

#image {
  width: 90%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "helvetica";
}

ul li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #58595B;
}
